html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    /* 背景图片 */
    background-image: url('https://resources.kagerou.top/share/UHD.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 组件居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{

    /* 设置大小 */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 3%;
    /* 模糊透明 */
    background: rgba(255, 255, 255, 0.1);
    animation: glass 3s infinite;
    /* 设置圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    /* 设置布局 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.main-container .search-container{
    /* background-color: rgb(135, 157, 176);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    height: 60%;
    width: 70%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}


.main-container .search-container .search-item form{
    width: 30vw;
    height: 7vh;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    border: 1.2rem;
    border-color: white;
    gap: 2%;
}

.main-container .search-container .search-item form input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;  
    color: white;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
}

.main-container .search-container .search-item form button{
    padding-right: 10px;
    padding-left: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.main-container .search-container .search-item form button img{
    width: 2vw;
}




.main-container .user-container{
    background-color: rgb(135, 157, 176);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 60%;
    width: 20%;
}

